# скомпилированные бинарники
/bin/
*.exe
*.test

# переменные окружения
.env
.env.local

# фронтенд (появится в M4)
web/node_modules/
web/dist/

# GeoIP база (качается через `make geoip-fetch`, не коммитим бинарь)
deploy/geoip/*.mmdb

# IDE
.idea/
.vscode/
.DS_Store
